doctype html

.container-fluid.m-container
    .login-wrap
        .login-container
            .login-header
                h1 Sign in
                h3 Please sign in
            .login-body.offset-top-medium
                form.m-form(#loginForm='ngForm')
                    .m-form-group.offset-bottom-big
                        input.m-form-group-input(
                            type='text',
                            id='login',
                            name='login',
                            placeholder='Login',
                            required='required',
                            ngModel
                        )
                        label.m-form-group-label(for='login') Login
                    .m-form-group
                        input.m-form-group-input(
                            type='password',
                            id='password',
                            name='password',
                            placeholder='Password',
                            required='required',
                            ngModel
                        )
                        label.m-form-group-label(for='Password') Password
            .login-footer.offset-top-medium.offset-bottom-small
                button.btn.btn-outline-success.m-btn-outline(
                    (click)='authenticate(loginForm)'
                ) Login